html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.myLink {
    position: fixed;
    top: -10px;
    left: 8px;
    color: rgb(191,191,191);
    font-size: 1.2rem;
    text-decoration: none; /* Removes the underline from the link */
}

.myLink:hover {
    color: rgb(255,255,255); /* Change color on hover */
}


a {
	color: rgb(226,226,226);
	text-decoration: none;
}

a:hover {
	color: rgb(255,255,255);
}

