<footer>

  <span id="footer-elements">
    <span style="font-weight: bold;">[</span>
    <a href="/"><i class="fa-solid fa-house"></i> Home</a>,
    <span class="hide-small">
      <a href="#"><i
          class="fa-solid fa-lightbulb"></i> Issues</a>
    </span>
    <span style="font-weight: bold;">]</span>
  </span>
  
  <br />

  <a id="licence-link" rel="license"
    href="https://vector-calculus.github.io/preamble.html#license" target="_blank">
    <i class="fa-brands fa-creative-commons"></i>
    <i class="fa-brands fa-creative-commons-by"></i>
    <i class="fa-brands fa-creative-commons-nc"></i>
    <i class="fa-brands fa-creative-commons-sa"></i>
  </a>

  <br />

  <strong>
    <span class="hide-small" style="font-size: 0.9em;">&copy; Author
      <script>document.write(new Date().getFullYear());</script>
    </span>
    <span class="hide-medium hide-large" style="font-size: 0.9em;">&copy; Author
      <script>document.write(new Date().getFullYear());</script>
    </span>
  </strong>

</footer>